:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #ffffff;
  --black: #282829;
  --red: #d33e43;
  --auburn: #a52327;
  --cream: #fff2ed;
  --pinkish: #ebe0e0;
  --lavender: #666370;
  --lightgrey: #e7e7e7;
  --grey: #797979;
}

body {
  margin: 0;
  height: 100vh;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  border-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* INPUT GLOBAL STYLES */

.auth-input-container {
  width: 70%;
  position: relative;
}

.auth-input-container i {
  position: absolute;
  margin: auto;
  top: 25%;
  left: 10px;
  color: #757575;
  font-size: 1.5rem;
}

.error {
  outline-offset: 1px;
  outline: solid 2px red;
}

.auth-input {
  padding: 1rem 1rem 1rem 2.5rem;
  border-radius: 10px;
  width: 100%;
  color: black;
  background-color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.2px);
  -webkit-backdrop-filter: blur(15.2px);
  border: 1px solid rgba(255, 255, 255, 0.19);
}

.auth-input:focus {
  outline-offset: 1px;
  outline: solid 2px dodgerblue;
}

/* CUSTOM STYLES NECESSARY THROUGHOUT */

.glass {
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.805) 0%,
    rgba(206, 206, 206, 0.716) 100%
  );
  background-blend-mode: screen;
  box-shadow: 11px 16px 11px -5px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(3.98404px);
  /* Note: backdrop-filter has minimal browser support */
}